html, body {
    margin: 0;

    background-color: whitesmoke;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;

    background-color: #FFFF;
}

/* HEADER SECTION */

.header-container {
    height: 90px;
    border-bottom: 2px solid #C6C6C6;
}

.logo-img {
    height: 70px;
    width: 195px;
}

.my-pfp {
    background: url("images/pfp.jpg");
    background-position: 0px -28px;
}

/* SUBHEADER SECTION */
.subheader-container {
    height: 70px;
}

.artist-pfp {
    background: url("images/avatar-vangogh.jpg");
}

.pfp {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* POST SECTION */

.post {



    width: auto;

    background: url("images/post-vangogh.jpg");
    aspect-ratio: 1; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* INTERACTIVITY SECTION */

.icons {
    padding-right: 15px;
}

.caption {
    display: inline;
}

.link-to-profile {
    text-decoration: none;
    color: black;
}

/* LOWER BORDER */

.lower-border {
    background-color: #EDEDED;
}

/* TYPOGRAPHY */

h1, .likes p, .caption p, .link-to-profile {
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
}

.bold {
    font-weight: 800;
}

.medium {
    font-weight: 400;
}

/* MISC */

.padding {
    padding: 1px;
}

.icons-container, .subheader-container, .header-container{
    display: flex;
    align-items: center;
}

.standard-height {
    height: 45px;
}

.standard-width {
    width: 45px;
}

.right{
    margin-left: 245px;
}

.standard-padding {
    padding-left: 10px;
}

.standard-margin {
    margin: 0px 15px;
}

.artist-info {
    margin: 0;
}

.post-container {
    background-color: black;
}

/* fix this issue */

.text-container {
    margin-bottom: 10px;
    background-color: aqua;
}
